#python==3.6.5
python-crfsuite==0.9.5
sklearn-crfsuite==0.3.6  # Optional but recommended as a replacement for bear python-crfsuite
joblib==0.12.5  # Optional, you can use pickle only
gensim==3.5.0
keras==2.2.0

#github links:
#https://github.com/scrapinghub/python-crfsuite
#https://github.com/TeamHG-Memex/sklearn-crfsuite
#https://github.com/joblib/joblib
#https://github.com/RaRe-Technologies/gensim
